header
	min-height: 524px
	position: relative

	&:after
		content: ""
		display: block
		position: absolute
		bottom: 0 
		width: 100%
		height: 15px
		background: #66100e /* Old browsers */
		background: -moz-linear-gradient(left, #66100e 0%, #e23e42 51%, #66100e 99%) /* FF3.6-15 */
		background: -webkit-linear-gradient(left, #66100e 0%,#e23e42 51%,#66100e 99%) /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, #66100e 0%,#e23e42 51%,#66100e 99%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66100e', endColorstr='#66100e',GradientType=1 ) /* IE6-9 */


	.logo
		float: left
        margin: 30px 0 0
		img
			width: 118px
			height: 59px

	.logo,
	.links
		margin: 30px 0 0


	.links
		float: right 
		margin: 35px 0 0
		
		nav
			+breakpoint($tablet)
					display: none
			+breakpoint($celular)
					display: none
			ul
				li
					display: inline-block
					margin: 0 20px 0 0
					a
						
						color: $branco
						text-transform: uppercase
	h1
	  clear: both
	  margin: 127px auto 10px auto !important
	  font-weight: $light
	  border: 1px solid $branco 
	  padding: 20px
	  display: table
	  +breakpoint($celular)
	  		+font-size(40px)

					

	h1,
	p
		color: $branco
		text-align: center
		text-transform: uppercase		